/* Garante altura total */
:host {
  display: block;
  height: 100vh;
}

.user-card {
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 0.9rem;
}

.user-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-color: #0d6efd;
}

/* Scrollbar Bonita */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
